.asset-type-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.flightplan-settings-box {
    position: absolute;
    right: 0px;
    width: 199px;
    top: 5%;
    /*padding: 20px;*/
    z-index: 9999;
    border: 1px solid #2FABE9;
    border-right: none;
    border-radius: 2px 0px 0px 2px;
    background-color: rgba(249, 249, 249, 0.92);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.flightplan-settings-box-toggle {
    position: absolute;
    left: -25px;
    top: 60%;
    width: 25px;
    border: 1px solid #2FABE9;
    border-radius: 2px 0px 0px 2px;
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.99);
}

.settings-box-item {
    padding: 10px;
    border-top: 1px dashed #d5d5d5;
}

.settings-box-content .settings-box-item:first-child {
    border-top: none;
}

.risk-settings-box {
    position: absolute;
    left: -29px;
    width: 199px;
    top: 5%;
    /*padding: 20px;*/
    z-index: 9999;
    border: 1px solid #2FABE9;
    border-left: none;
    border-radius: 2px 0px 0px 2px;
    background-color: rgba(249, 249, 249, 0.92);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.risk-settings-box-toggle {
    position: absolute;
    right: -25px;
    top: 50%;
    width: 25px;
    border: 1px solid #2FABE9;
    border-radius: 2px 0px 0px 2px;
    border-left: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.99);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.new-settings-box {
    /*    margin: -10px auto 10px auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;*/         /* not fully supported, use another method if no browser support */
    margin: -10px 10% 10px 10%;
    border: 1px solid #2FABE9;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(249, 249, 249, 0.92);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.new-settings-box-item {
    padding: 10px;
    border-left: 1px dashed #d5d5d5;
    float: left;
}

.new-settings-box-content .new-settings-box-item:first-child {
    border-left: none;
}

.new-settings-toggle{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.new-settings-toggle:hover{
    color: #2FABE9;
}