.asset-type-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.flightplan-settings-box {
    position: absolute;
    right: -29px;
    width: 199px;
    top: 5%;
    /*padding: 20px;*/
    z-index: 9999;
    border: 1px solid #2FABE9;
    border-right: none;
    border-radius: 2px 0px 0px 2px;
    background-color: rgba(249, 249, 249, 0.92);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.flightplan-settings-box-toggle {
    position: absolute;
    left: -25px;
    top: 60%;
    width: 25px;
    border: 1px solid #2FABE9;
    border-radius: 2px 0px 0px 2px;
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.99);
}

.settings-box-item {
    padding: 10px;
    border-top: 1px dashed #d5d5d5;
}

.settings-box-content .settings-box-item:first-child {
    border-top: none;
}

.risk-settings-box {
    position: absolute;
    left: -29px;
    width: 199px;
    top: 5%;
    /*padding: 20px;*/
    z-index: 9999;
    border: 1px solid #2FABE9;
    border-left: none;
    border-radius: 2px 0px 0px 2px;
    background-color: rgba(249, 249, 249, 0.92);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.risk-settings-box-toggle {
    position: absolute;
    right: -25px;
    top: 50%;
    width: 25px;
    border: 1px solid #2FABE9;
    border-radius: 2px 0px 0px 2px;
    border-left: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.99);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.new-settings-box {
    /*    margin: -10px auto 10px auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;*/         /* not fully supported, use another method if no browser support */
    margin: -10px 10% 10px 10%;
    border: 1px solid #2FABE9;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(249, 249, 249, 0.92);
    /*background-image: linear-gradient(#e9eaeb 0%, #fafafb 6.25em);*/
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.new-settings-box-item {
    padding: 10px;
    border-left: 1px dashed #d5d5d5;
    float: left;
}

.new-settings-box-content .new-settings-box-item:first-child {
    border-left: none;
}

.new-settings-toggle{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.new-settings-toggle:hover{
    color: #2FABE9;
}

.header-bar{
    /*background: #c9302c;*/
    height: 40px;
    color: #cbcbcb;
}

.header-bar h3{
    float: right;
    margin: 0px;
    font-weight: bold;
    line-height: 40px;
}

.snap-drawers{
    background-color: lightgray;
}

.snap-drawer-left{
    background-color: lightgray;
}

.snap-drawer-left h3{
    margin: 0px;
    font-weight: bold;
    line-height: 40px;
}

.snap-content{
    background-color: white;
}

.flightplan-container{
    background-color: lightgray;
    padding-top: 15px
}

.flightplan-widget{
    background-color: #ffffff;
}

.flightplan-widget-header {
    padding: 11px 15px;
}

.flightplan-widget-title{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.highChartContainer{
    height: 100%;
}

.maincontent {
    background-image: linear-gradient(#fefefe 2em, #e7e7e8);
}

.asset-container {
    background-color: #ffffff;
    border: #ddd solid 1px;
    border-radius: 4px;
    padding: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.asset-container .asset-group:first-child {
    margin-top: 0px;
}

.asset-group {
    margin-top: 20px;
}

.asset-group-header {
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: dashed #ddd 1px;
    padding-bottom: 5px;
}

.asset-group-item {
    padding-top: 10px;
}


